.icon {
  display: block;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-framework {
  background-image: url(../img/IconFramework.svg);
}

.icon-language {
  background-image: url(../img/IconLanguage.svg);
}

.icon-skill {
  background-image: url(../img/IconSkill.svg);
}
